@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.ttf') format('truetype'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}